/********** Large devices only **********/
@media (min-width: 1200px) {
  p.diary-text{
    font-size: 90%;
    text-align:justify;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    line-height: 1.4;
    color: #333;
  }
}

@media (min-width: 1200px) {
  p.diary-text-gs{
    font-size: 90%;
    text-align:justify;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    line-height: 1.4;
    color: #d1c1be;
  }
}

@media (max-width: 1199px) {
  p.diary-text{
    font-size: 100%;
    text-align:justify;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    line-height: 1.4;
    color: #333;
  }
}

@media (max-width: 1199px) {
  p.diary-text-gs{
    font-size: 100%;
    text-align:justify;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    line-height: 1.4;
    color: #d1c1be;
  }
}

span.diary-date{
  font-weight: bold; 
  font-size:110%;
}

div.diary-photo-centre{
  display: table;
  margin-left:auto;
  margin-right:auto;
  height:auto;
}


  p {font-size: 16px;}
  .margin {margin-bottom: 45px;}

  div.footer-row{
      background-color: #ffffff;
      padding-top: 6px;
      padding-bottom: 6px;
      padding-left: 15px;
      padding-right: 15px;
  }
  
  .footer-row a:visited,
  .footer-row a:link{
      color:black;
  }  
  
  .footer-row a:hover{
      color:darkgrey;
      text-decoration: none;
  } 
  
}
