hr.strava { 
    position: relative; 
    margin: 0px;
    border: none; 
    height: 2px; 
    background: #dddddd; 
}
              
.stravaHeader{
    font-family: -apple-system, system-ui, BlinkMacSystemFont, Roboto, "Segoe UI", "Helvetica Neue", Arial, sans-serif, "Apple";
    color: #007FB6;
    font-size: 16px;
    font-weight: 600;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 5px;
    text-align: left
}

.stravaHeader2{
    font-family: -apple-system, system-ui, BlinkMacSystemFont, Roboto, "Segoe UI", "Helvetica Neue", Arial, sans-serif, "Apple";
    color: #007FB6;
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 5px;
}

.stravaHeader3{
    font-family: -apple-system, system-ui, BlinkMacSystemFont, Roboto, "Segoe UI", "Helvetica Neue", Arial, sans-serif, "Apple";
    color: #007FB6;
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 5px;
    margin-top: 10px;
}

.differanceText{
    font-family: -apple-system, system-ui, BlinkMacSystemFont, Roboto, "Segoe UI", "Helvetica Neue", Arial, sans-serif, "Apple";
    color: #007FB6;
    font-size: 40px;
    font-weight: 600;
    padding-bottom:5px;
    padding-top:25px;
}

.stravaText{
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #666666;
    font-size:10px;
    font-weight: 300;
    margin-bottom: 0px;
    margin-top:0px;
    text-align: left;
    padding-left:5px;
}

.white-box {
    width: 300px;
    height: 90px;
    background-color: white;
    border: 1px solid #ef560f;
    padding: 6px;
    margin-bottom: 6px;
    border-radius: 3px; /* Rounded corners */
}
    
.white-box-europe {
    width: 300px;
    height: 170px;
    background-color: white;
    border: 1px solid #ef560f;
    padding: 6px;
    margin-bottom: 6px;
    border-radius: 3px; /* Rounded corners */
}
    
.stats-box {
    display: flex; /* Use Flexbox */
    flex-wrap: wrap; /* Allow items to wrap into multiple rows */
    padding-left:5px;
}
    
.column {
    width: 75px; /* Calculate 25% width for each column with a 5px margin between them */
    margin-right: 5px; /* Margin between columns */
}
.column-wide {
    width: 150px; 
    margin-right: 5px;
}

.column:last-child {
    margin-right: 0; /* Remove margin from the last column */
}
.column:first-child {
  width: 40px;
}

.stat-text {
	font-size: 10px;
  text-align: left;
}
.data-text {
	font-size: 11px;
  text-align: left;
}

p.stat-text {
  margin-bottom: 1px;
}

p.data-text {
  margin-top: 0px;
}

/* Progress Bar Parameters*/
#myProgress {
  width: 100%;
  background-color: red;
}

#myBar {
  width: 0%;
  height: 10px;
  background-color: green;
  
}
/* The following is all copied from the Strava css file */

.footer .branding {
  margin: 4px 10px 0
}

.footer a.primary {
  height: 22px;
  font-size: 0.8em;
  line-height: 1em;
  font-weight: 600;
  background-color: #fc5200;
  color: #fff;
  text-decoration: none;
  display: block;
  padding: 7px 10px 5px;
  margin: 0 5px 5px;
  float: right;
  clear: both;
  border-radius: 3px;
  white-space: nowrap
}

body {
  font-size: 12px;
  line-height: 1.25em
}

.branding-content {
  display: block;
  width: 100%;
  height: 100%
}

.branding.logo-sm {
  height: 16px;
  width: 76px
}

.branding {
  background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20version%3D%221.2%22%20baseProfile%3D%22tiny%22%20x%3D%220px%22%20y%3D%220px%22%20width%3D%22200px%22%20height%3D%22130.327148px%22%20viewBox%3D%220%200%20200%20130.327148%22%20xml%3Aspace%3D%22preserve%22%3E%3Cpath%20fill%3D%22%23FC4C02%22%20d%3D%22M19.161621%2040.397949c-3.805664%200-7.35791-0.529785-10.649902-1.575684C5.219238%2037.769043%202.383301%2036.194824%200%2034.101074l6.67041-7.949707c2.027344%201.563477%204.166016%202.685059%206.403809%203.359375%202.241699%200.676758%204.467773%201.015137%206.673828%201.015137%201.141113%200%201.956055-0.143555%202.456055-0.424805%200.501953-0.286621%200.746094-0.678711%200.746094-1.174316v-0.106445c0-0.538086-0.368652-0.98877-1.094238-1.337402%20-0.725586-0.356445-2.092773-0.728027-4.084961-1.118164%20-2.098145-0.429688-4.101562-0.930664-6.002441-1.498535%20-1.904785-0.564453-3.575684-1.297363-5.016113-2.187988%20-1.442871-0.886719-2.589355-2.011719-3.445312-3.362305%20-0.854004-1.354004-1.28125-3.009766-1.28125-4.964844v-0.106934c0-1.780762%200.346191-3.437012%201.042969-4.965332C3.756836%207.749512%204.772949%206.412109%206.10791%205.276855c1.335449-1.139648%202.993164-2.027344%204.969727-2.671875%201.967773-0.639648%204.238281-0.959473%206.804199-0.959473%203.625%200%206.800781%200.428711%209.523926%201.284668%202.723145%200.848145%205.166992%202.130859%207.34082%203.837891l-6.083496%208.435059c-1.779785-1.28418-3.658203-2.217285-5.631836-2.806152%20-1.97998-0.588379-3.831543-0.882812-5.57959-0.882812%20-0.922852%200-1.607422%200.142578-2.051758%200.427734%20-0.452637%200.284668-0.667969%200.660156-0.667969%201.121094v0.105469c0%200.501953%200.334473%200.929199%201.013184%201.286133%200.679199%200.354004%201.994141%200.729004%203.948242%201.120117%202.385254%200.424805%204.554199%200.941895%206.516602%201.543457%201.953125%200.61084%203.639648%201.381348%205.041504%202.32666%201.405273%200.942383%202.494141%202.067383%203.256836%203.388184%200.763672%201.316895%201.147461%202.92041%201.147461%204.802734v0.109863c0%201.954102-0.390137%203.719727-1.17627%205.282715%20-0.780762%201.567383-1.88623%202.890137-3.309082%203.978516%20-1.424316%201.08252-3.151855%201.917969-5.179199%202.506348C23.966309%2040.103027%2021.68457%2040.397949%2019.161621%2040.397949L19.161621%2040.397949z%22%2F%3E%3Cpolygon%20fill%3D%22%23FC4C02%22%20points%3D%2245.95459%2C12.902832%2034.958984%2C12.902832%2034.958984%2C2.342285%2069.446777%2C2.342285%2069.446777%2C12.902832%2058.447754%2C12.902832%2058.447754%2C39.69873%2045.95459%2C39.69873%2045.95459%2C12.902832%20%22%2F%3E%3Cpath%20fill%3D%22%23FC4C02%22%20d%3D%22M89.086914%2020.115234c1.495605%200%202.671875-0.321289%203.521484-0.960449%200.854004-0.641602%201.283203-1.534668%201.283203-2.672852v-0.10791c0-1.207031-0.429199-2.108398-1.283203-2.689941%20-0.849609-0.588379-2.011719-0.879883-3.466309-0.879883h-5.447754v7.311035H89.086914L89.086914%2020.115234zM71.203125%202.342285h18.258301c3.344238%200%206.092773%200.383789%208.244141%201.148438%202.15625%200.763672%203.886719%201.806641%205.20459%203.123535%201.141602%201.135254%201.994629%202.418945%202.566406%203.837402%200.566406%201.423828%200.853516%203.102051%200.853516%205.01416v0.11377c0%202.737305-0.658691%205.050781-1.979492%206.93457%20-1.312988%201.885254-3.109375%203.384766-5.390625%204.48291l8.698242%2012.70166H93.40918l-7.047363-10.67334h-0.101562%20-2.565918v10.67334H71.203125V2.342285L71.203125%202.342285z%22%2F%3E%3Cpolygon%20fill%3D%22%23FC4C02%22%20points%3D%22179.889648%2C23.627441%20188.032227%2C39.69873%20200%2C39.69873%20179.889648%2C0%20159.781738%2C39.69873%20171.753418%2C39.69873%20179.889648%2C23.627441%20%22%2F%3E%3Cpolygon%20fill%3D%22%23FC4C02%22%20points%3D%22123.918457%2C23.627441%20132.058105%2C39.69873%20144.028809%2C39.69873%20123.918457%2C0%20103.818848%2C39.69873%20115.78418%2C39.69873%20123.918457%2C23.627441%20%22%2F%3E%3Cpolygon%20fill%3D%22%23FC4C02%22%20points%3D%22151.912598%2C18.412598%20143.76709%2C2.342285%20131.796387%2C2.342285%20151.912598%2C42.041016%20172.01416%2C2.342285%20160.051758%2C2.342285%20151.912598%2C18.412598%20%22%2F%3E%3Cpath%20fill%3D%22%23FFFFFF%22%20d%3D%22M19.161621%2084.541016c-3.805664%200-7.35791-0.529785-10.649902-1.575684C5.219238%2081.912598%202.383301%2080.337891%200%2078.244141l6.67041-7.949707c2.027344%201.563477%204.166016%202.685059%206.403809%203.359375%202.241699%200.676758%204.467773%201.015137%206.673828%201.015137%201.141113%200%201.956055-0.143555%202.456055-0.424805%200.501953-0.286133%200.746094-0.678223%200.746094-1.174316v-0.106445c0-0.538086-0.368652-0.98877-1.094238-1.337402%20-0.725586-0.356445-2.092773-0.728027-4.084961-1.117676%20-2.098145-0.430176-4.101562-0.931152-6.002441-1.498535%20-1.904785-0.564453-3.575684-1.297363-5.016113-2.188477C5.30957%2065.93457%204.163086%2064.80957%203.307129%2063.458984c-0.854004-1.354004-1.28125-3.009766-1.28125-4.964844v-0.106934c0-1.780762%200.346191-3.437012%201.042969-4.965332%200.687988-1.529297%201.704102-2.866699%203.039062-4.001953%201.335449-1.13916%202.993164-2.027344%204.969727-2.671875%201.967773-0.63916%204.238281-0.959473%206.804199-0.959473%203.625%200%206.800781%200.428711%209.523926%201.285156%202.723145%200.847656%205.166992%202.130371%207.34082%203.837402l-6.083496%208.435059c-1.779785-1.28418-3.658203-2.217285-5.631836-2.806152%20-1.97998-0.588379-3.831543-0.882812-5.57959-0.882812%20-0.922852%200-1.607422%200.142578-2.051758%200.428223%20-0.452637%200.28418-0.667969%200.659668-0.667969%201.120605v0.105957c0%200.501465%200.334473%200.928711%201.013184%201.285645%200.679199%200.354492%201.994141%200.729004%203.948242%201.120117%202.385254%200.424805%204.554199%200.941895%206.516602%201.543457%201.953125%200.61084%203.639648%201.381836%205.041504%202.327148%201.405273%200.941895%202.494141%202.066895%203.256836%203.387695%200.763672%201.316895%201.147461%202.92041%201.147461%204.802734v0.109863c0%201.954102-0.390137%203.719727-1.17627%205.282715%20-0.780762%201.567383-1.88623%202.890625-3.309082%203.978516%20-1.424316%201.08252-3.151855%201.917969-5.179199%202.506348C23.966309%2084.246582%2021.68457%2084.541016%2019.161621%2084.541016L19.161621%2084.541016z%22%2F%3E%3Cpolygon%20fill%3D%22%23FFFFFF%22%20points%3D%2245.95459%2C57.045898%2034.958984%2C57.045898%2034.958984%2C46.485352%2069.446777%2C46.485352%2069.446777%2C57.045898%2058.447754%2C57.045898%2058.447754%2C83.841797%2045.95459%2C83.841797%2045.95459%2C57.045898%20%22%2F%3E%3Cpath%20fill%3D%22%23FFFFFF%22%20d%3D%22M89.086914%2064.258301c1.495605%200%202.671875-0.321289%203.521484-0.960449%200.854004-0.641602%201.283203-1.534668%201.283203-2.672852v-0.10791c0-1.207031-0.429199-2.10791-1.283203-2.689941%20-0.849609-0.588379-2.011719-0.879883-3.466309-0.879883h-5.447754v7.311035H89.086914L89.086914%2064.258301zM71.203125%2046.485352h18.258301c3.344238%200%206.092773%200.383789%208.244141%201.148438%202.15625%200.763672%203.886719%201.806641%205.20459%203.123535%201.141602%201.135254%201.994629%202.418945%202.566406%203.837402%200.566406%201.423828%200.853516%203.102051%200.853516%205.01416v0.11377c0%202.737305-0.658691%205.050781-1.979492%206.93457%20-1.312988%201.885254-3.109375%203.384766-5.390625%204.48291l8.698242%2012.70166H93.40918l-7.047363-10.67334h-0.101562%20-2.565918v10.67334H71.203125V46.485352L71.203125%2046.485352z%22%2F%3E%3Cpolygon%20fill%3D%22%23FFFFFF%22%20points%3D%22179.889648%2C67.770508%20188.032227%2C83.841797%20200%2C83.841797%20179.889648%2C44.143066%20159.781738%2C83.841797%20171.753418%2C83.841797%20179.889648%2C67.770508%20%22%2F%3E%3Cpolygon%20fill%3D%22%23FFFFFF%22%20points%3D%22123.918457%2C67.770508%20132.058105%2C83.841797%20144.028809%2C83.841797%20123.918457%2C44.143066%20103.818848%2C83.841797%20115.78418%2C83.841797%20123.918457%2C67.770508%20%22%2F%3E%3Cpolygon%20fill%3D%22%23FFFFFF%22%20points%3D%22151.912598%2C62.555664%20143.76709%2C46.485352%20131.796387%2C46.485352%20151.912598%2C86.184082%20172.01416%2C46.485352%20160.051758%2C46.485352%20151.912598%2C62.555664%20%22%2F%3E%3Cpath%20fill%3D%22%23B0B0B0%22%20d%3D%22M19.161621%20128.684082c-3.805664%200-7.35791-0.529785-10.649902-1.575684C5.219238%20126.055664%202.383301%20124.480957%200%20122.387207l6.67041-7.949219c2.027344%201.562988%204.166016%202.685059%206.403809%203.359375%202.241699%200.67627%204.467773%201.015137%206.673828%201.015137%201.141113%200%201.956055-0.144043%202.456055-0.425293%200.501953-0.286133%200.746094-0.678223%200.746094-1.174316v-0.106445c0-0.538086-0.368652-0.988281-1.094238-1.337402%20-0.725586-0.355957-2.092773-0.727539-4.084961-1.117676%20-2.098145-0.430176-4.101562-0.931152-6.002441-1.498535%20-1.904785-0.564453-3.575684-1.297363-5.016113-2.188477%20-1.442871-0.886719-2.589355-2.011719-3.445312-3.362305%20-0.854004-1.354004-1.28125-3.009277-1.28125-4.964844v-0.106445c0-1.780762%200.346191-3.4375%201.042969-4.96582%200.687988-1.529297%201.704102-2.866699%203.039062-4.001953%201.335449-1.13916%202.993164-2.027344%204.969727-2.671875%201.967773-0.63916%204.238281-0.959473%206.804199-0.959473%203.625%200%206.800781%200.429199%209.523926%201.285156%202.723145%200.847656%205.166992%202.130859%207.34082%203.837402l-6.083496%208.435059c-1.779785-1.28418-3.658203-2.216797-5.631836-2.806152%20-1.97998-0.588379-3.831543-0.882812-5.57959-0.882812%20-0.922852%200-1.607422%200.142578-2.051758%200.428223%20-0.452637%200.28418-0.667969%200.659668-0.667969%201.120605v0.105957c0%200.501953%200.334473%200.928711%201.013184%201.286133%200.679199%200.354004%201.994141%200.728516%203.948242%201.119629%202.385254%200.424805%204.554199%200.942383%206.516602%201.543457%201.953125%200.61084%203.639648%201.381836%205.041504%202.327148%201.405273%200.941895%202.494141%202.066895%203.256836%203.388184%200.763672%201.316895%201.147461%202.919922%201.147461%204.802246v0.109863c0%201.954102-0.390137%203.719727-1.17627%205.282715%20-0.780762%201.567383-1.88623%202.890625-3.309082%203.978516%20-1.424316%201.083008-3.151855%201.918457-5.179199%202.506348C23.966309%20128.389648%2021.68457%20128.684082%2019.161621%20128.684082L19.161621%20128.684082z%22%2F%3E%3Cpolygon%20fill%3D%22%23B0B0B0%22%20points%3D%2245.95459%2C101.188965%2034.958984%2C101.188965%2034.958984%2C90.628418%2069.446777%2C90.628418%2069.446777%2C101.188965%2058.447754%2C101.188965%2058.447754%2C127.985352%2045.95459%2C127.985352%2045.95459%2C101.188965%20%22%2F%3E%3Cpath%20fill%3D%22%23B0B0B0%22%20d%3D%22M89.086914%20108.401367c1.495605%200%202.671875-0.321289%203.521484-0.960449%200.854004-0.641602%201.283203-1.534668%201.283203-2.672852v-0.10791c0-1.207031-0.429199-2.10791-1.283203-2.689941%20-0.849609-0.588379-2.011719-0.879883-3.466309-0.879883h-5.447754v7.311035H89.086914L89.086914%20108.401367zM71.203125%2090.628418h18.258301c3.344238%200%206.092773%200.383789%208.244141%201.148438%202.15625%200.763672%203.886719%201.806641%205.20459%203.123535%201.141602%201.135254%201.994629%202.418945%202.566406%203.837891%200.566406%201.42334%200.853516%203.101562%200.853516%205.013672v0.11377c0%202.737793-0.658691%205.05127-1.979492%206.93457%20-1.312988%201.885254-3.109375%203.384766-5.390625%204.483398l8.698242%2012.70166H93.40918l-7.047363-10.673828h-0.101562%20-2.565918v10.673828H71.203125V90.628418L71.203125%2090.628418z%22%2F%3E%3Cpolygon%20fill%3D%22%23B0B0B0%22%20points%3D%22179.889648%2C111.914062%20188.032227%2C127.985352%20200%2C127.985352%20179.889648%2C88.286133%20159.781738%2C127.985352%20171.753418%2C127.985352%20179.889648%2C111.914062%20%22%2F%3E%3Cpolygon%20fill%3D%22%23B0B0B0%22%20points%3D%22123.918457%2C111.914062%20132.058105%2C127.985352%20144.028809%2C127.985352%20123.918457%2C88.286133%20103.818848%2C127.985352%20115.78418%2C127.985352%20123.918457%2C111.914062%20%22%2F%3E%3Cpolygon%20fill%3D%22%23B0B0B0%22%20points%3D%22151.912598%2C106.69873%20143.76709%2C90.628418%20131.796387%2C90.628418%20151.912598%2C130.327148%20172.01416%2C90.628418%20160.051758%2C90.628418%20151.912598%2C106.69873%20%22%2F%3E%3C%2Fsvg%3E%0A");
  background-size: cover;
  background-position: left top;
  background-repeat: no-repeat;
  overflow: hidden;
  height: 24px;
  width: 117px;
  display: inline-block
}

