/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 0px;
  padding-bottom: 20px;
}

div.jumbotron{
  background-image: url("../images/Bonaire1.JPG");
  height:250px;
  padding-top:0;
  margin-top:0;
}

@media screen and (min-width: 768px) {
  .jumbotron {
    padding-top: 0px;
    padding-bottom: 85px;
  }
}

.jumbotron{
    margin-bottom: 20px;
}

.navbar {
    position: relative;
    border: 1px solid transparent;
    margin-bottom:0;
    opacity: .5;
    background-color: #200200;
    padding-left:20px;
    padding-right:20px;
}

.navbar-header{
  color:lightgrey;
  height: 20px;
  padding-top: 8px;
  font-size: 1.6em;

}
.navbar-header a:visited,
.navbar-header a:link{
  color:lightgrey;
}  

.navbar-header a:hover{
  color:yellow;
}  

.navbar-link a:hover{
  color:yellow;
} 

.navbar-icons{
  float:right;
}

.navbar-icons:hover{
  text-decoration: none;
}

.glyphicon{
  padding-left:10px;
}

.headerphoto{
    position:relative;
    top:-50px
}

#diving-tile, #travel-tile, #football-tile, #beer-tile, #cycling-tile, #lockdown-tile{
  height: 200px;
  width: 100%;
  margin-bottom: 15px;
  position: relative;
  border: 2px solid #3F0C1F;
  overflow: hidden;
}
#sa-week-1-tile, #sa-week-2-tile, #sa-week-3-tile, #sa-week-4-tile{
  height: 200px;
  width: 100%;
  margin-bottom: 0;
  margin-top:0;
  position: relative;
  border: 2px solid #3F0C1F;
  overflow: hidden;
}
 #sa-photos-tile{
  height: 150px;
  margin-bottom: 15px;
  margin-top:0;
  position: relative;
  border: 2px solid #3F0C1F;
  overflow: hidden;
  margin-right: 15px;
  margin-left: 15px;
}
 #france-photos-tile{
  height: 150px;
  margin-bottom: 15px;
  margin-top:0;
  position: relative;
  border: 2px solid #3F0C1F;
  overflow: hidden;
  margin-right: 0px;
  margin-left: 0px;
}
 #thailand-photos-tile{
  height: 150px;
  margin-bottom: 15px;
  margin-top:0;
  position: relative;
  border: 2px solid #3F0C1F;
  overflow: hidden;
  margin-right: 0px;
  margin-left: 0px;
}
 #myanmar-photos-tile{
  height: 150px;
  margin-bottom: 15px;
  margin-top:0;
  position: relative;
  border: 2px solid #3F0C1F;
  overflow: hidden;
  margin-right: 0px;
  margin-left: 0px;
}
 #brazil-photos-tile-1{
  height: 150px;
  margin-bottom: 15px;
  margin-top:0;
  position: relative;
  border: 2px solid #3F0C1F;
  overflow: hidden;
  margin-right: 0px;
  margin-left: 0px;
}
 #brazil-photos-tile-2{
  height: 150px;
  margin-bottom: 15px;
  margin-top:0;
  position: relative;
  border: 2px solid #3F0C1F;
  overflow: hidden;
  margin-right: 0px;
  margin-left: 0px;
}
 #poland-photos-tile{
  height: 170px;
  margin-bottom: 15px;
  margin-top:0;
  position: relative;
  border: 2px solid #3F0C1F;
  overflow: hidden;
  margin-right: 0px;
  margin-left: 0px;
}
  #indo-photos-tile{
  height: 170px;
  margin-bottom: 15px;
  margin-top:0;
  position: relative;
  border: 2px solid #3F0C1F;
  overflow: hidden;
  margin-right: 0px;
  margin-left: 0px;
}
 #praguesofia-photos-tile{
  height: 170px;
  margin-bottom: 15px;
  margin-top:0;
  position: relative;
  border: 2px solid #3F0C1F;
  overflow: hidden;
  margin-right: 0px;
  margin-left: 0px;
}
 #photos-2012-tile{
  height: 170px;
  margin-bottom: 15px;
  margin-top:0;
  position: relative;
  border: 2px solid #3F0C1F;
  overflow: hidden;
  margin-right: 0px;
  margin-left: 0px;
}
 #photos-2018-tile{
  height: 170px;
  margin-bottom: 15px;
  margin-top:0;
  position: relative;
  border: 2px solid #3F0C1F;
  overflow: hidden;
  margin-right: 0px;
  margin-left: 0px;
}

#diving-tile:hover, #travel-tile:hover, #football-tile:hover, #beer-tile:hover, #cycling-tile, #lockdown-tile:hover,
#sa-week-1-tile:hover, #sa-week-2-tile:hover, #sa-week-3-tile:hover, #sa-week-4-tile:hover , #sa-photos-tile:hover, #framce-photos-tile:hover, #brazil-photos-tile-1:hover, #brazil-photos-tile-2:hover, #photos-2012-tile:hover, #photos-2018-tile:hover, #poland-photos-tile:hover, #indo-photos-tile:hover, #praguesofia-photos-tile{
  box-shadow: 0 1px 5px 1px #121212;
}

#diving-tile {
  background: url('../images/diving-tile.JPG') no-repeat;
  background-position: center;
}
#travel-tile {
  background: url('../images/travel-tile.JPG') no-repeat;
  background-position: center;
}
#football-tile {
  background: url('../images/football-tile.JPG') no-repeat;
  background-position: center;
}
#beer-tile {
  background: url('../images/beer-tile.JPG') no-repeat;
  background-position: center;
}
#cycling-tile {
  background: url('../images/cycling-tile.JPG') no-repeat;
  background-position: center;
}
#lockdown-tile {
  background: url('../images/lockdown-tile.JPG') no-repeat;
  background-position: center;
}
#sa-week-1-tile {
  background: url('../south_africa/Photos/week-1.JPG') no-repeat;
  background-position: center;
}
#sa-week-2-tile {
  background: url('../south_africa/Photos/week-2.JPG') no-repeat;
  background-position: center;
}
#sa-week-3-tile {
  background: url('../south_africa/Photos/week-3.JPG') no-repeat;
  background-position: center;
}
#sa-week-4-tile {
  background: url('../south_africa/Photos/week-4.JPG') no-repeat;
  background-position: center;
}
#sa-photos-tile {
  background: url('../south_africa/Photos/photos.JPG') no-repeat;
  background-position: center;
}
#france-photos-tile {
  background: url('../images/france-photos-tile.JPG') no-repeat;
  background-position: center;
}
#myanmar-photos-tile {
  background: url('../images/myanmar-photos-tile.JPG') no-repeat;
  background-position: center;
}
#thailand-photos-tile {
  background: url('../images/thailand-photos-tile.JPG') no-repeat;
  background-position: center;
}
#brazil-photos-tile-1 {
  background: url('../images/brazil-photos-tile-1.JPG') no-repeat;
  background-position: center;
}
#brazil-photos-tile-2 {
  background: url('../images/brazil-photos-tile-2.JPG') no-repeat;
  background-position: center;
}
#poland-photos-tile {
  background: url('../images/poland-photos-tile.JPG') no-repeat;
  background-position: center;
}
#indo-photos-tile {
  background: url('../images/indo-photos-tile.JPG') no-repeat;
  background-position: center;
}
#praguesofia-photos-tile {
  background: url('../images/praguesofia/praguesofia-photos-tile.JPG') no-repeat;
  background-position: center;
}
#photos-2012-tile {
  background: url('../world_trip_2012/images/2012-photos-tile.JPG') no-repeat;
  background-position: center;
}
#photos-2018-tile {
  background: url('../world_trip_2018/images/2018-photos-tile.JPG') no-repeat;
  background-position: center;
}
#diving-tile span, #travel-tile span, #football-tile span, #beer-tile span, #cycling-tile span, #lockdown-tile span,
#sa-week-1-tile span, #sa-week-2-tile span, #sa-week-3-tile span, #sa-week-4-tile span, #sa-photos-tile span, #france-photos-tile span, #myanmar-photos-tile span, #thailand-photos-tile span, #brazil-photos-tile-1 span, #brazil-photos-tile-2 span, #poland-photos-tile span, #indo-photos-tile span, #praguesofia-photos-tile span, #photos-2012-tile span, #photos-2018-tile span{
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  text-align: center;
  font-size: 1.6em;
  background-color: #000;
  color: #fff;
  opacity: .8;
  color:lightgrey;
}
div.newtiles{
  height: 200px;
  width: 100%;
  margin-bottom: 15px;
  position: relative;
  border: 2px solid #3F0C1F;
  overflow: hidden;
  background-position: center;
}
span.newtiles{
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  text-align: center;
  font-size: 1.0em;
  background-color: #222222;
  color: #FFFFFF;
  opacity: .8;
  color:lightgrey;
} 
.newtiles:hover  {
  box-shadow: 0 1px 5px 1px #121212;
}

div.tiles {
  height: 200px;
  width: 100%;
  margin-bottom: 15px;
  position: relative;
  border: 2px solid #3F0C1F;
  overflow: hidden;
  background-position: center;
}
span.tiles{
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  text-align: center;
  font-size: 1.6em;
  background-color: #000;
  color: #fff;
  opacity: .8;
  color:lightgrey;
} 
.tiles:hover  {
  box-shadow: 0 1px 5px 1px #121212;
}



/********* Settings for social media icons **********/
.fa{
  font-size:30px;
  float:right;
  padding-left: 5px;
  padding-right: 5px;
}

.fa-youtube-square{
  color:#bb0000;
}
.fa-twitter-square{
  color:#00aced;
}
.fa-facebook-square{
  color:#3B5998;
}
.fa-linkedin-square{
  color:#007bb5;
}

.fa:hover{
  text-decoration: none;
}
.fa-futbol-o, .fa-beer{
  font-size:22px;
  padding-left: 18px;
  padding-right: 5px;
  padding-top:2px;
}

/********** Large devices only **********/
@media (min-width: 1200px) {
  #diving-tile, #travel-tile, #football-tile, #beer-tile, #cycling-tile, #lockdown-tile{
    margin-top:50px;
  }
  
  #sa-week-1-tile, #sa-week-2-tile, #sa-week-3-tile, #sa-week-4-tile, 
  #sa-photos-tile, #france-photos-tile, #myanmar-photos-tile, #thailand-photos-tile, #brazil-photos-tile-1, #brazil-photos-tile-2, #poland-photos-tile, #indo-photos-tile, #praguesofia-photos-tile, #photos-2012-tile, #photos-2018-tile
  {
    margin-top: 0px;
    margin-bottom:20px;
  }
  div.tiles{
    margin-top: 0px;
    margin-bottom:20px;
  }
  div.newtiles{
    margin-top: 0px;
    margin-bottom:20px;
  }
}

/********** Medium devices only **********/
@media (min-width: 992px) and (max-width: 1199px)  {
  #diving-tile, #travel-tile, #football-tile, #beer-tile, #cycling-tile, #lockdown-tile{
    margin-top:30px;
  }
  #sa-week-1-tile, #sa-week-2-tile, #sa-week-3-tile, #sa-week-4-tile, 
  #sa-photos-tile, #france-photos-tile, #myanmar-photos-tile, #thailand-photos-tile, #brazil-photos-tile-1, #brazil-photos-tile-2, #poland-photos-tile, #indo-photos-tile, #praguesofia-photos-tile, #photos-2012-tile, #photos-2018-tile
  {
    margin-top:10px;
    margin-bottom:20px;
  }
  div.tiles{
    margin-top: 10px;
    margin-bottom:20px;
  }
  div.newtiles{
    margin-top: 10px;
    margin-bottom:20px;
  }
}

/********** Small devices only **********/
@media (min-width: 768px) and (max-width: 991px) {
  #diving-tile, #travel-tile, #football-tile, #beer-tile, #cycling-tile, #lockdown-tile{
    margin-top: 20px;
  }
  div.tiles{
    margin-top: 20px;
  }
  div.newtiles{
    margin-top: 20px;
  }
  #sa-week-1-tile, #sa-week-2-tile, #sa-week-3-tile, #sa-week-4-tile, 
  #sa-photos-tile, #france-photos-tile, #myanmar-photos-tile, #thailand-photos-tile, #brazil-photos-tile-1, #brazil-photos-tile-2, #poland-photos-tile, #indo-photos-tile, #praguesofia-photos-tile, #photos-2012-tile, #photos-2018-tile
  {
    margin-top: 0px;
    margin-bottom:20px;
  }
  div.tiles{
    margin-top: 0px;
    margin-bottom:20px;
  }
  div.newtiles{
    margin-top: 0px;
    margin-bottom:20px;
  }
}

/******** Extra small devices only *******/
@media (max-width: 767px){
  div.jumbotron{
    background-image: url("../images/Bonaire2.JPG");
    height:150px;
  }
  
  #diving-tile, #travel-tile, #football-tile, #beer-tile, #cycling-tile, #lockdown-tile{
    margin-top:10px;
    width: 280px;
    margin-left: auto ;
    margin-right: auto ;
  }
  #sa-week-1-tile, #sa-week-2-tile, #sa-week-3-tile, #sa-week-4-tile, 
  #sa-photos-tile, #france-photos-tile, #myanmar-photos-tile, #thailand-photos-tile, #brazil-photos-tile-1, #brazil-photos-tile-2, #poland-photos-tile, #indo-photos-tile, #praguesofia-photos-tile, #photos-2012-tile, #photos-2018-tile
  {
    margin-top: 0px;
    margin-bottom:20px;
    width: 280px;
    margin-left: auto ;
    margin-right: auto ;
  }
  div.tiles{
    margin-top: 0px;
    margin-bottom:20px;
    width: 280px;
    margin-left: auto ;
    margin-right: auto ;
  }
  div.newtiles{
    margin-top: 0px;
    margin-bottom:20px;
    width: 280px;
    margin-left: auto ;
    margin-right: auto ;
  }
  .fa{
    float:none;
    text-align:center;
    font-size:36px;
  }
  .fa-futbol-o, .fa-beer{
    font-size:20px;
    padding-left: 0x;
    padding-right: 3px;

}
  .copyright{
    text-align:center;
  }
}

/* END HOME PAGE */