
 @media screen and (max-width: 992px) {
 table {
 font-family: Arial, Helvetica, sans-serif;
 border-collapse: collapse;
 width: 100%;
 margin: 0 auto;
 }
 }
 
 @media screen and (min-width: 993px) {
 table {
 font-family: Arial, Helvetica, sans-serif;
 border-collapse: collapse;
 width: 900px;
 margin: 0 auto;
 }
 }
 
 td, th {
 border: 1px solid #ddd;
 padding: 5px;
 }
 tr:nth-child(even){background-color: #d4cafc;}
 tr:nth-child(odd){background-color: #ffffff;}
 tr:hover {background-color: #beaffa;}
 th {
 padding-top: 12px;
 padding-bottom: 12px;
 text-align: left;
 background-color: #0f0145;
 color: white;
 }
 /* Style the tab */
 .tab {
 overflow: hidden;
 border: 0px solid #ccc;
 background-color: #f1f1f1;
 text-align:center;
 }
 /* Style the buttons inside the tab */
 .tab button {
 background-color: #def543;
 width: 20%;

 border: none;
 margin:5px;
 outline: none;
 cursor: pointer;
 padding: 14px 16px;
 transition: 0.3s;
 font-size: 17px;
 }
 /* Change background color of buttons on hover */
 .tab button:hover {
 background-color: #abc543;
 }
 /* Create an active/current tablink class */
 .tab button.active {
 background-color: #abc543;
 }
 /* Style the tab content */
 .tabcontent {
 display: none;
 padding: 6px 12px;
 border: 1px solid #ccc;
 border-top: none;
 }